Repository flowcean/flowcean, pull requests merged in 2024-08, with the labels that each got.

#100 Docu Update
  docs/examples/coffee_machine.md
  docs/examples/failure_time_prediction.md
  docs/examples/one_tank.md
  docs/user_guide/environment.md
  docs/user_guide/evaluation.md
  docs/user_guide/experiment.md
  docs/user_guide/learning_strategies.md
  docs/user_guide/modules.md
  docs/user_guide/tools.md
Labels: documentation

#111 Add rechunk transform
  src/flowcean/transforms/rechunk.py
  tests/transforms/test_rechunk.py
Labels: transform

#122 Add Resample transform
  src/flowcean/transforms/__init__.py
  src/flowcean/transforms/resample.py
  tests/transforms/test_resample.py
Labels: transform

#124 Update ALP data
  examples/automatic_lashing_platform/data.dvc
Labels: data, example

#113 Add `to_time_series` method
  src/flowcean/core/environment/offline.py
  tests/core/test_to_time_series.py
Labels: data

#130 Update ALP data valve states
  examples/automatic_lashing_platform/data.dvc
Labels: data

#135 Update ALP example
  examples/automatic_lashing_platform/loader.py
  examples/automatic_lashing_platform/run.py
Labels: example

#110 Directory loader
  src/flowcean/utils/__init__.py
  src/flowcean/utils/build_environments_from_directory.py
Labels: data

#137 Add real ALP meassurement data
  examples/automatic_lashing_platform/.gitignore
  examples/automatic_lashing_platform/real_data.dvc
Labels: data, example

#140 Add Time series window transform
  src/flowcean/transforms/__init__.py
  src/flowcean/transforms/flatten.py
  src/flowcean/transforms/time_window.py
  tests/transforms/test_time_window.py
Labels: transform

#151 Make transforms callable
  src/flowcean/core/transform.py
  tests/transforms/test_rechunk.py
Labels: transform

#155 Add Rename transform
  src/flowcean/transforms/__init__.py
  src/flowcean/transforms/rename.py
  tests/transforms/test_rename.py
Labels: transform

#147 Pack ALP data into single files
  examples/automatic_lashing_platform/.gitignore
  examples/automatic_lashing_platform/alp_real_data.parquet.dvc
  examples/automatic_lashing_platform/alp_sim_data.parquet.dvc
  examples/automatic_lashing_platform/data.dvc
  examples/automatic_lashing_platform/preload_alp_data.py
  examples/automatic_lashing_platform/real_data.dvc
  examples/automatic_lashing_platform/run.py
Labels: data
