Repository flowcean/flowcean, pull requests merged in 2025-07, with the labels that each got.

#317 Use `collect_all` instead of two separate collects
  src/flowcean/grpc/learner.py
  src/flowcean/sklearn/regression_tree.py
  src/flowcean/torch/lightning_learner.py
  src/flowcean/torch/linear_regression.py
Labels: data

#318 Pad Timeseries Transform
  src/flowcean/polars/__init__.py
  src/flowcean/polars/time_series_type.py
  src/flowcean/polars/transforms/__init__.py
  src/flowcean/polars/transforms/mode.py
  src/flowcean/polars/transforms/pad.py
  tests/polars/transforms/test_pad.py
Labels: transform

#301 Alp Research
  examples/automatic_lashing_platform/.gitignore
  examples/automatic_lashing_platform/alp_real_data.parquet.dvc
  examples/automatic_lashing_platform/alp_sim_data.parquet.dvc
  examples/automatic_lashing_platform/pyproject.toml
  examples/automatic_lashing_platform/run.py
  examples/automatic_lashing_platform/transforms/derivative.py
  src/flowcean/sklearn/__init__.py
  src/flowcean/sklearn/metrics/regression.py
  uv.lock
Labels: example
