Repository flowcean/flowcean, pull requests merged in 2025-02, with the labels that each got.

#163 Particle clouds
  docs/examples/images/localization_example.png
  docs/examples/robot_localization_failure.md
  examples/robot_localization_failure/.gitignore
  examples/robot_localization_failure/rec_20241021_152106.dvc
  examples/robot_localization_failure/ros_msgs/LaserScan.msg
  examples/robot_localization_failure/ros_msgs/nav2_msgs/msg/Particle.msg
  examples/robot_localization_failure/ros_msgs/nav2_msgs/msg/ParticleCloud.msg
  examples/robot_localization_failure/run.py
  examples/ros_offline/.gitignore
  examples/ros_offline/run.py
  mkdocs.yml
  src/flowcean/environments/rosbag.py
Labels: data

#198 Add Model saving and loading
  examples/active_learning/run.py
  src/flowcean/core/model.py
  src/flowcean/learners/dummy_learner.py
  src/flowcean/learners/grpc/learner.py
  src/flowcean/models/pytorch.py
  src/flowcean/models/sklearn.py
  src/flowcean/strategies/offline.py
  tests/models/save_load.py
Labels: export

#229 First and Last transform for time series data
  src/flowcean/polars/transforms/__init__.py
  src/flowcean/polars/transforms/first.py
  src/flowcean/polars/transforms/last.py
  tests/polars/transforms/test_first.py
  tests/polars/transforms/test_last.py
Labels: transform

#227 Mean transform for time series data
  src/flowcean/polars/transforms/__init__.py
  src/flowcean/polars/transforms/mean.py
  tests/polars/transforms/test_mean.py
Labels: transform

#231 Replace flag for Median transform
  src/flowcean/polars/transforms/median.py
  tests/polars/transforms/test_mean.py
  tests/polars/transforms/test_median.py
Labels: transform

#230 Mode transform for time series data
  src/flowcean/polars/time_series_type.py
  src/flowcean/polars/transforms/__init__.py
  src/flowcean/polars/transforms/mode.py
  tests/polars/transforms/test_mode.py
Labels: transform
