Repository flowcean/flowcean, pull requests merged in 2025-06, with the labels that each got.

#295 Add Functions to Export Testcases
  examples/xor/test.py
  pyproject.toml
  src/flowcean/core/tool/testing/generator/__init__.py
  src/flowcean/core/tool/testing/generator/combination_generator.py
  src/flowcean/core/tool/testing/generator/generator.py
  src/flowcean/core/tool/testing/generator/stochastic_generator.py
  uv.lock
Labels: tools

#294 Add Early Stopping to Lightning Learner
  examples/one_tank/run.py
  src/flowcean/torch/lightning_learner.py
Labels: learner

#299 Fix sleep for docker
  src/flowcean/grpc/learner.py
Labels: learner, Java
